<h1>Profile Page</h1>

<form id="newEntryForm">
    <input type="text" name="name" placeholder="Title" id="newEntryName">
    <textarea id="newEntryDescription" placeholder="Content"></textarea>
    <button>Submit</button>
</form>
    <script src="/js/newEntry.js"></script>